@font-face {
  font-family: 'flaticon-tech';
  src:  url('../fonts/flaticon-techd313.eot?y0fk21');
  src:  url('../fonts/flaticon-techd313.eot?y0fk21#iefix') format('embedded-opentype'),
    url('../fonts/flaticon-techd313.ttf?y0fk21') format('truetype'),
    url('../fonts/flaticon-techd313.woff?y0fk21') format('woff'),
    url('../fonts/flaticon-techd313.svg?y0fk21#flaticon-tech') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="flaticon-tech-"], [class*=" flaticon-tech-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'flaticon-tech' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flaticon-tech-Choose-marketing-1:before {
  content: "\e900";
}
.flaticon-tech-Proven-seo:before {
  content: "\e901";
}
.flaticon-tech-Transparent:before {
  content: "\e902";
}
.flaticon-tech-OBJECTS:before {
  content: "\e903";
}
.flaticon-tech-Frame:before {
  content: "\e904";
}
.flaticon-tech-mailchimp-1:before {
  content: "\e905";
}
.flaticon-tech-meta-1:before {
  content: "\e906";
}
.flaticon-tech-slack-1:before {
  content: "\e907";
}
.flaticon-tech-dropbox-1:before {
  content: "\e908";
}
.flaticon-tech-optimization-1:before {
  content: "\e909";
}
.flaticon-tech-data-flow-1:before {
  content: "\e90a";
}
.flaticon-tech-targeting-1-1:before {
  content: "\e90b";
}
.flaticon-tech-structure-1:before {
  content: "\e90c";
}
.flaticon-tech-customer-1:before {
  content: "\e90d";
}
.flaticon-tech-marketing-1:before {
  content: "\e90e";
}
.flaticon-tech-award-1:before {
  content: "\e90f";
}
.flaticon-tech-gold-medal-1:before {
  content: "\e910";
}
.flaticon-tech-trophy-2:before {
  content: "\e911";
}
.flaticon-tech-trophy-1-1:before {
  content: "\e912";
}
.flaticon-tech-logo-design-1:before {
  content: "\e913";
}
.flaticon-tech-branding-1:before {
  content: "\e914";
}
.flaticon-tech-interaction-1:before {
  content: "\e915";
}
